body{
    background-color: aqua;
}
h1{
    color: yellow;
    font-family: 'Fredoka One', cursive, sans-serif;
}
h3{
    color: salmon;
    font-family: 'Fredoka One', cursive, sans-serif;
    font-size: 30px;
}
#openingPicture{
    width: 50vh;
    height: 50vh;
    display: block;
    margin-left: auto;
    width: 50%;

}
#titlePicture {
    width: 50vh;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}