body{
    background-color: aqua;
}
h1{
    color: yellow;
    font-family: 'Fredoka One', cursive, sans-serif;
}
h3{
    color: red;
    font-family: 'Fredoka One', cursive, sans-serif;
    font-size: 30px;
}
#openingPicture{
    width: 20px;
    height: 20px;
}
#titlePicture {
    width: 100px;
    height: 100px;
}