body{
    background-color: aqua;
    
}
h1{
    color: yellow;
    font-family: 'Fredoka One', cursive, sans-serif;
}
h3{
    color: salmon;
    font-family: 'Fredoka One', cursive, sans-serif;
}
h5{
    color: black;
    font-size: 30px;
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
#title{
    background: orangered;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    border-radius: 25px;
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
#episode{
    color: white;
    font-family: 'libre Baskerville', serif;
    font-size: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50;

}
.openingPage{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    outline: 10px solid yellow;  
    border-radius: 25px;  
}
#titlePicture {
    width: 35vh;
    height: 35vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}
#openingPicture{
    width: 50vh;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 20;
}
button {
    width: 120px;
    height: 60px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;
}
hr{
    margin-top: 0;
    margin-bottom: 0;
}
